/* style header table */
.rdt_TableCol{
    background-color: #006dba;
    color: #fff;
}
.rdt_Table{
    height: 50%;
}


.contTable{
    max-width: 100%;
}

.titleTable{
    position: absolute;
    left: 60%;
}

@media (max-width:1227px) {    
    .titleTable{
        visibility: hidden;
    }
}

@media (max-width:990px) {    
    .contTable{
        margin-top: 4.3em;
    }
}