/* style header table */
.rdt_TableCol{
    background-color: #006dba;
    color: #fff;
}
.rdt_Table{
    height: 50%;
}


.contTable{
    max-width: 95%;
    background-color: #fff;
    max-height: 98%;
}

.titleTable{
    position: absolute;
    left: 45%;
    font-family: cursive;
}

@media (max-width:1227px) {    
    .titleTable{
        visibility: hidden;
    }
}

@media (max-width:990px) {    
    .contTable{
        margin-top: 4.3em;
    }
}
 