.accordionMain{
    margin-bottom: 10px;
}
.accordionCont{
    max-width: 100%;
    width: 90%;
    overflow: scroll;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
}
/* Personalización del scrollBar */
.accordionCont::-webkit-scrollbar {
    width: 12px;             
  }
  
  .accordionCont::-webkit-scrollbar-track {
    background: #fff;       
  }
  
  .accordionCont::-webkit-scrollbar-thumb {
    background-color: #0d6efd;  
    border-radius: 20px;      
    border: 3px solid #fff;  
  }

.titleAccordion{
    text-align: center;
}
/* Estilos botones de los acordiones */
.buttons{
    display: flex;
    justify-content: end;
}
.buttonAccept{
    background-color: #0d6efd;
    margin-right: 20px;
}
.buttonCancel{
    background-color: #FF0000;
}
.buttonAccept, .buttonCancel{
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: #ffffff;
}

@media (max-width:386px) {
    .buttons{
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
    .buttonAccept{
        border: none;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        color: #ffffff;
    }   
}
/* Contenido del acordion*/
.content{
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
}
@media (max-width:380px) {
    .paragaphIdea{
        font-size: 0.720em;
    }
}
@media (max-width:312px) {
    .buttonAccept{
        margin-bottom: 10px;
    }
}




