/* logo de pantalla de carga */
.loadingCard{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

@media (max-width:990px){
    .loadingCard{
        margin-top: 50px;
    }
}


/* Efecto de la tarjeta cuando se pone el raton encima  */
.zoomTarjeta{
    transition: .5s;
}
.zoomTarjeta:hover{
    transform: scale(1.1);
    transition: .4s;
    background-color: "#000";
}