.bannerCont{
    width:100%;
  height:25%;
  
}
.imageBanner{
    filter:contrast(30%);;
    object-fit:cover;
    object-position: center;
    width:100%;
    height:100%;
    box-shadow: 1px 1px 9x 8px ;
}
.titleBanner{
    color: #fff;
    padding-top: 3%;
    font-size: 22px;
}
.dateBanner{
    margin-top: 2%;
    color: #fff;
}
@media (max-width: 990px) {
    .imageBanner{
        height: 250px;
    }
}

@media (max-width: 425px) {
    .imageBanner{
        height: 250px;
    }
}

.imagenDetalle{
    max-width: 100%;
    width: 80%;
}

/* DetallesInfo */
.tituloCategorias{
    margin-top: 20px;
}
.DetallesImageGeneral{
    margin: auto;
    width: 50%;
}
@media (max-width:990px) {
    .DetallesInfoGeneral{
        margin: auto;
        width:100%
    }
    .DetallesInfoCategorias{
        display: flex;
        justify-content: center;
    }
    .bodyDetalles{
        display: flex;
        flex-direction: column;
    }
    .DetallesImageGeneral{
        margin-top: 20px;
        max-width: 100%;
        width: 100%;
    }
}


