.cardPerfil{
    width:100%;
    margin: 20px;
}
.graficaIdeas{
    width: 50%;
}
.perfilBar{
    display: flex;
    justify-content: space-between;
}
.datosPerso{
    margin: auto auto;
    /* background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../FormularioLogin/images/tabla.png'); */
}
.segundaGraficaIdeas{
    display: flex;
}
.pointsUser{
    margin: auto auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://w1.pngwing.com/pngs/691/274/png-transparent-pen-and-notebook-paper-drawing-paper-clip-printing-papel-de-carta-stationery-label-thumbnail.png); */

}

@media (max-width:990px){
    .cardPerfil{
        width: 100%;
        margin: 100px 0 0 0;
    }
    .graficaIdeas{
        width: 100%;
        height: 30%;
        margin: 40px 0 0 0 ;
    }
    .perfilBar{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .segundaGraficaIdeas{
        flex-direction: column;   
    }
    .pointsUser{
        margin:100px;
    }
}
.loadingCard{
    margin: auto auto;
}
.puntosPerfil{
    display: flex;
    justify-content: center;
}
.puntosIdeas{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.perfilContCard{
    display: flex;
    flex-direction: row;
    width:100%;
}

@media (max-width:990px){
    .loadingCard{
        margin-top: 120px;
    }
    .puntosPerfil{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .puntosIdeas{
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }
    .perfilContCard{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}